<h1>Create Your Own Word</h1>

<form method="post" action="/">
  <div class="form-group">
    <label for="word">Enter word:</label>
    <input class="form-control" type="text" name="album_name">
    <label for="definition">Enter definition:</label>
    <input class="form-control" type="text" name="definition">

  </div>
  <button type="submit" class="btn">Add word</button>
</form>
