<h1>Create Your Own Word</h1>

<form method="post" action="/word">
  <div class="form-group">
    <label for="word">Enter word:</label>
    <input class="form-control" type="text" name="word">
  </div>
  <button type="submit" class="btn">Add word</button>
</form>
