<h1>Update <%= @word.word %></h1>

<form action="/words/<%= @word.id %>/edit" method="post">
  <input word="_method" type="hidden" value="patch">

  <label for="word">Edit word</label>
  <input name="word" type="text" value="<%= @word.word %>">

  <button type="submit">Update</button>
</form>

<form action="/words/<%= @word.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete word</button>
</form>

<p><a href="/">Return to word list</a></p>
